.nav {
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    color: rgb(247, 244, 244);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(94, 94, 94, 0.227);
    padding-inline: 0.6rem;
    padding-block: 0.5rem;
    backdrop-filter: blur(5px);

    .left,.right {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

}