.cards{
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    padding-bottom: 5rem;
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
   

    .card{
        flex-grow: 1;
        flex-basis: 15rem;
        max-width: 30rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-inline: 1rem;
        padding-block: 0.8rem;
        background-color: #222;
        width: 30rem;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem
        


    }
        img{
            border-radius: 1rem;
            width: 100%;
        }
        h1{
            font-size: 1.55rem;
            font-weight: 550;
        }
        .description{
            opacity: 0.7;
            font-size: 0.9rem;
            word-spacing: 0.3rem;
            line-height: 1.4;
        }
    .tags{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .tag{
            border-radius: 0.3rem;
            background-color: #575151;
            width: fit-content;
            padding-inline: 0.7rem;
            padding-block: 0.5rem;
            
        }
        .tag:hover{
            background-color: #191717;
        }
    }
    .urls{
        display: flex;
        justify-content: space-around;

        a{
            text-decoration: none;
            color: rgb(110, 184, 249);
            font-size: 1.2rem;
        }
    }
}