.notes-app{
    color: rgb(196, 195, 192) !important;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    padding-bottom: 5rem;


    
    pre{
        background-color: transparent !important;
    }
}